.modal{
top:100px;
}

.fade{

  opacity: 1;
}

.form-control{

  padding:2px;
  padding-left:10px;
  width:80%;
}
label {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}
.setleftmargin
{
 margin-left:22px;
}
  .radio-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding-left:30px;
    font-size:22px;
    position: relative;
    vertical-align: middle;
}
   

#mybutton{display: none;}

.rightside{

  position: relative;
  top:10px;
  height:100%;
  background-color: #fff;
  min-height: 1700px;

}
.leftside{

  position: relative;
  top:55px;
  height:100%;
  background-color: #222;
min-height: 1700px;
}

hr.hr-gradient
{
  background: -webkit-linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
  background: -o-linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
  background: -moz-linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
  background:  linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
  background-repeat: no-repeat;
  border: 0 none;
  height: 3px;
}

a{

text-decoration:underline;

}


body,html{
  font-family: calibri;
}
th {
  background-color: #696969;
  color:#fff;
  text-align:center;
}
td {
  text-align: center;
}

.well:hover{
  background-color: #ddd;
  border:2px solid #ccc;
}

.alert-default {
  color: #fff;
  background-color: #222;
  border-color: #d6e9c6;
  font-size:18px;
}
input[type="file"]{

  background: #fff;
  font-size: 16px;
}
.error{
  color:red;
  font-weight: 400;
  font-size:18px;

}

@media only screen and (max-width: 480px) 
{

.navbar-fixed-top{

    position: fixed;
  }
  .rightside{
  position: relative;


}
.leftside{

  position: relative;
  top:50px;
}

 h2#titleinfo
  {
    font-size:25px;


   }
   .col-xs-8{
  width:100%;
 

}

.col-xs-4{
  width:100%;


}
   h1#secondtitle
   {

    font-size:22px;
   }
.menuItems{
height:90%;
}

.navbar {
    border: 1px solid transparent;
    min-height: 50px;
    
}
.row{
  margin-left:-40px;
}

  .leftside
  {  background-color: #222;
    display: none;
  
  }
  .leftsideshow{
    display: block;


  }

  .rightside{
     height: 100%;
    background-color:#fff;
    padding:10px;
    padding:35px;
    padding-top:30px;
    padding-left:55px;
    position: relative;
    top:0;
   
 }


 ul.menu  {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: block;
  color:#fff;
  width:100%;

}
ul.menu li a {
  display: block;
  text-decoration:none;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-family: calibri;
  color: #fff;

}
ul.menu li a:hover {
  background-color: #000;
  color:white;

}
ul.subMenu
{
 background-color: #444;
 display:none;
 list-style-type:none;
 margin: 0;
 padding: 0;
 color:#fff;


}
ul.subMenu li a
{
  text-decoration:none;
  padding: 8px 0 8px 35px;

}
ul.menu li.active{
  background: #000;

}
ul.menu li.active a{
  font-size:18px;
}
p#footerinfo 
{

  color:#fff;
  font-size: 9px;
  margin: 30 0 0 14px;
  font-family: calibri;
}

.dropdown {
    display: none;
    position: relative;
    top: -66px;
    left:-44px;
}

.dropdowns {
    display: inline-block;
    font-size: 1555px;
    position: relative;
    left:35px;
    text-align: right;
    top: -33px;
}

.dropbtn {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}
.dropbtns {

  color:#fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:33%;
  top: 39px;
}

.dropdown-content a {
  color:#fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: calibri;
}

.dropdown-content a:hover {background-color: #000; color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdowns:hover .dropdown-contents {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #000;
}
#switchlink {
    background-color: #222;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    left: 100px;
    margin: 0 0 0 5px;
    padding: 15px;
    position: relative;
    text-align: center;
    top: -10px;
    vertical-align: middle;
    white-space: nowrap;
    width: 150px;
}
#switchlink:hover {
  background-color: #000;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.dropdown-contents {
  background-color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 33%;
  min-width: 70%;
  position: absolute;
  text-align: left;
  top: 40px;
  z-index: 1


}
.dropdown-contents a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  color:#fff;
  display: block;
  
}

.dropdown-contents a:hover {background-color: #000;color:#fff;}
.dropdown:hover .dropdown-contents {
 display: block;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  width:50px;
  font-size:10px;
  width:60px;
  margin-left:5px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

}

@media only screen and (min-width:481px) 
{

.fade{

  opacity: 1;
}
.navbar-fixed-top{

    position: fixed;
  }
.navbar {
    border: 1px solid transparent;
    margin-left: -20px;
    min-height: 50px;

}
.rightside{
  height:2000px;
  position: relative;
  top:13px;


}
.leftside{

  position: relative;
  top:40px;
}
.row
{
  margin-left:-40px;
}

  .leftside
  {  background-color: #222;
    
     

  }

  .rightside{
     height: 100%;
    background-color:#fff;
    padding:10px;
    padding:35px;
    padding-top:30px;
   
 }


 ul.menu  {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: block;
  color:#fff;
  width:100%;

}
ul.menu li a {
  display: block;
  text-decoration:none;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-family: calibri;
  color: #fff;

}
ul.menu li a:hover {
  background-color: #000;
  color:white;

}
ul.subMenu
{
 background-color: #444;
 display:none;
 list-style-type:none;
 margin: 0;
 padding: 0;
 color:#fff;


}
ul.subMenu li a
{
  text-decoration:none;
  padding: 8px 0 8px 35px;

}
ul.menu li.active{
  background: #000;

}
ul.menu li.active a{
  font-size:18px;
}
p#footerinfo 
{

  color:#fff;
  font-size: 9px;
  margin: 30 0 0 14px;
  font-family: calibri;
}

.dropdown {
    display: none;
    position: relative;
    top: -66px;
    left:-44px;
}

.dropdowns {
    display: inline-block;
    font-size: 19px;
    position: relative;
    left:150px;
    text-align: right;
    top: -33px;
}

.dropbtn {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}
.dropbtns {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:33%;
  top: 39px;
}

.dropdown-content a {
  color:#fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: calibri;
}

.dropdown-content a:hover {background-color: #000; color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdowns:hover .dropdown-contents {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #000;
}
#switchlink {
    background-color: #222;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    left: 100px;
    margin: 0 0 0 5px;
    padding: 15px;
    position: relative;
    text-align: center;
    top: -10px;
    vertical-align: middle;
    white-space: nowrap;
    width: 350px;
}
#switchlink:hover {
  background-color: #000;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.dropdown-contents {
  background-color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 33%;
  min-width: 70%;
  position: absolute;
  text-align: left;
  top: 40px;
  z-index: 1


}
.dropdown-contents a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  color:#fff;
  display: block;
  
}

.dropdown-contents a:hover {background-color: #000;color:#fff;}
.dropdown:hover .dropdown-contents {
 display: block;
}


.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 12px;
  height: 8%;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

}


@media only screen and (min-width: 768px) 
{
.menuItems{

}
.rightside{
  height:2000px;
  position: relative;
  top:30px;


}
.leftside{

  position: relative;
  top:50px;
}
.navbar {
    border: 1px solid transparent;
    margin-left: 0px;
    min-height: 50px;
   
}
.row{
  margin-left:-22px;
}


  .leftside
  {  background-color: #222;
    

  }

  .rightside{
     height: 100%;
    background-color:#fff;
    padding:10px;
    padding:35px;
    padding-top:30px;
   
 }


 ul.menu  {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: block;
  color:#fff;
  width:100%;

}
ul.menu li a {
  display: block;
  text-decoration:none;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-family: calibri;
  color: #fff;

}
ul.menu li a:hover {
  background-color: #000;
  color:white;

}
ul.subMenu
{
 background-color: #444;
 display:none;
 list-style-type:none;
 margin: 0;
 padding: 0;
 color:#fff;


}
ul.subMenu li a
{
  text-decoration:none;
  padding: 8px 0 8px 35px;

}
ul.menu li.active{
  background: #000;

}
ul.menu li.active a{
  font-size:18px;
}
p#footerinfo 
{

  color:#fff;
  font-size: 9px;
  margin: 30 0 0 14px;
  font-family: calibri;
}

.dropdown {
    display: inline-block;
    position: relative;
    top: 0px;
    left:0px;
}
.dropdowns {
      display: inline-block;
    position: relative;
    top: 0px;
    left:0px;
}
.dropbtn {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}
.dropbtns {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:33%;
  top: 39px;
}

.dropdown-content a {
  color:#fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: calibri;
}

.dropdown-content a:hover {background-color: #000; color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdowns:hover .dropdown-contents {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #000;
}
#switchlink {
    background-color: #222;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    left: 0px;
    margin: 0 0 0 5px;
    padding: 15px;
    position: relative;
    text-align: center;
    top:0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
}
#switchlink:hover {
  background-color: #000;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.dropdown-contents {
  background-color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 33%;
  min-width: 70%;
  position: absolute;
  text-align: left;
  top: 40px;
  z-index: 1


}
.dropdown-contents a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  color:#fff;
  display: block;
  
}

.dropdown-contents a:hover {background-color: #000;color:#fff;}
.dropdown:hover .dropdown-contents {
 display: block;
}
.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 18px;
  height: 15%;
  margin-bottom: 20px;
  padding: 25px;
  text-align: center;
}

}


@media only screen and (min-width: 950px) 
{
.menuItems{


}


  .leftside
  {  background-color: #222;
    


  }

  .rightside{
     height: 100%;
    background-color:#fff;
    padding:10px;
    padding:35px;
    padding-top:55px;
   
 }


 ul.menu  {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: block;
  color:#fff;
  width:100%;

}
ul.menu li a {
  display: block;
  text-decoration:none;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-family: calibri;
  color: #fff;

}
ul.menu li a:hover {
  background-color: #000;
  color:white;

}
ul.subMenu
{
 background-color: #444;
 display:none;
 list-style-type:none;
 margin: 0;
 padding: 0;
 color:#fff;


}
ul.subMenu li a
{
  text-decoration:none;
  padding: 8px 0 8px 35px;

}
ul.menu li.active{
  background: #000;

}
ul.menu li.active a{
  font-size:18px;
}
p#footerinfo 
{

  color:#fff;
  font-size: 9px;
  margin: 30 0 0 14px;
  font-family: calibri;
}

.dropdown {
  position: relative;

  display: inline-block;
  
}
.dropbtn {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:33%;
  top: 39px;
}

.dropdown-content a {
  color:#fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: calibri;
}

.dropdown-content a:hover {background-color: #000; color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000;
}
#switchlink {
  background-color: #222;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
#switchlink:hover {
  background-color: #000;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.dropdown-contents {
  background-color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 33%;
  min-width: 70%;
  position: absolute;
  text-align: left;
  top: 40px;
  z-index: 1


}
.dropdown-contents a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  color:#fff;
  display: block;
  
}

.dropdown-contents a:hover {background-color: #000;color:#fff;}
.dropdown:hover .dropdown-contents {
 display: block;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 21px;
  height: 12%;
  margin-bottom: 20px;
  padding: 44px;
  text-align: center;
}

}

@media only screen and (min-width: 1224px) 
{
.menuItems{


}


  .leftside
  {  background-color: #222;
     

  }

  .rightside{
     height: 100%;
    background-color:#fff;
    padding:10px;
    padding:35px;
    padding-top:55px;
   
 }


 ul.menu  {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: block;
  color:#fff;
  width:100%;

}
ul.menu li a {
  display: block;
  text-decoration:none;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-family: calibri;
  color: #fff;

}
ul.menu li a:hover {
  background-color: #000;
  color:white;

}
ul.subMenu
{
 background-color: #444;
 display:none;
 list-style-type:none;
 margin: 0;
 padding: 0;
 color:#fff;


}
ul.subMenu li a
{
  text-decoration:none;
  padding: 8px 0 8px 35px;

}
ul.menu li.active{
  background: #000;

}
ul.menu li.active a{
  font-size:18px;
}
p#footerinfo 
{

  color:#fff;
  font-size: 9px;
  margin: 30 0 0 14px;
  font-family: calibri;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}
.dropbtn {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:33%;
  top: 39px;
}

.dropdown-content a {
  color:#fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: calibri;
}

.dropdown-content a:hover {background-color: #000; color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000;
}
#switchlink {
  background-color: #222;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width:150px;

}
#switchlink:hover {
  background-color: #000;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.dropdown-contents {
  background-color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 33%;
  min-width: 70%;
  position: absolute;
  text-align: left;
  top: 40px;
  z-index: 1


}
.dropdown-contents a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  color:#fff;
  display: block;
  
}

.dropdown-contents a:hover {background-color: #000;color:#fff;}
.dropdown:hover .dropdown-contents {
 display: block;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 30px;
  height: 200px;
  margin-bottom: 20px;
  padding: 44px;
  text-align: center;
}

} 


@media only screen and (min-width: 1500px) 
{

.menuItems{

 
}

  .leftside
  {  background-color: #222;
      

  }

  .rightside{
     height: 100%;
    background-color:#fff;
    padding:10px;
    padding:35px;
    padding-top:55px;
   
 }


 ul.menu  {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: block;
  color:#fff;
  width:100%;

}
ul.menu li a {
  display: block;
  text-decoration:none;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #444;
  font-family: calibri;
  color: #fff;

}
ul.menu li a:hover {
  background-color: #000;
  color:white;

}
ul.subMenu
{
 background-color: #444;
 display:none;
 list-style-type:none;
 margin: 0;
 padding: 0;
 color:#fff;


}
ul.subMenu li a
{
  text-decoration:none;
  padding: 8px 0 8px 35px;

}
ul.menu li.active{
  background: #000;

}
ul.menu li.active a{
  font-size:18px;
}
p#footerinfo 
{

  color:#fff;
  font-size: 9px;
  margin: 30 0 0 14px;
  font-family: calibri;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}
.dropbtn {

  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:33%;
  padding: 15px 10px 10px 10px;
  font-family: calibri;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:33%;
  top: 39px;
}

.dropdown-content a {
  color:#fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: calibri;
}

.dropdown-content a:hover {background-color: #000; color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000;
}
#switchlink {
  background-color: #222;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width:150px;

}
#switchlink:hover {
  background-color: #000;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.dropdown-contents {
  background-color: #222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 33%;
  min-width: 70%;
  position: absolute;
  text-align: left;
  top: 40px;
  z-index: 1


}
.dropdown-contents a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  color:#fff;
  display: block;
  
}

.dropdown-contents a:hover {background-color: #000;color:#fff;}
.dropdown:hover .dropdown-contents {
 display: block;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  font-size: 30px;
  height: 30%;
  margin-bottom: 20px;
  padding: 88px;
  text-align: center;
}

}


*/