*,*:after,*:before {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility;}
.mediaImg{margin: 1%;}
    .mediaImgContainer{width: 650px;float: left;padding: 2%;border-right: 1px solid #eee;height: 390px;overflow-y: scroll;overflow: hidden;}
    .mediaDetails{width: 250px;float: left;padding: 2%;display: none;}
    .mediaPopUp img{border: 2px solid #fff;margin: 1%;}
    .mediaPopUp img:hover{border: 2px solid #aaa;}
    .mediaAction{border-bottom: 1px solid #eee;padding: 2%;position: relative;}
    .mediaUploadContainer{width: 30%;float: left;}
    .mediaClose{position: absolute;padding: 1%;top: 0px;right: 0px;font-weight: 100;font-family: calibri;cursor: pointer;}
    .mediabtn{border: 1px solid #aaa;box-shadow: 0 0 5px #aaa;padding:0 1%;background: #eee;cursor: pointer;}
    #progressbar{
        width: 100%;
        background: #eee;
        padding: 3px;
        border-radius: 3px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
    }
    #progress{
        height: 20px;
        background: #5cb85c;
        display: block;
        border-radius: 3px;
        -webkit-transition: width 0.8s ease;
        -moz-transition: width 0.8s ease;
        transition: width 0.8s ease;
    }
    #progress_bar{width: 50%;display: none;float: left;}
    #status{width: 7%;float: left;margin-left: 5%;}
    #mediauploads{margin: 0px;padding: 0px;}
    .clear{clear: both;}
    #list{display: inline;}
    
    .mediaPopUp{width: 1000px;height: 500px;display: none;background: #fff;z-index: 99;position: absolute;box-shadow: 0 0 5px #111;}
    
    //media
    
html, body {font-family: calibri;}
ul.tsc_pagination { margin:4px 0; padding:0px; overflow:hidden; font:12px 'Tahoma'; list-style-type:none; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; }
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_paginationA li a { color:#FFFFFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
ul.tsc_paginationA01 li a { color:#474747; border:solid 1px #B6B6B6; padding:6px 9px 6px 9px; background:#E6E6E6; background:-moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6)); }
ul.tsc_paginationA01 li:hover a,ul.tsc_paginationA01 li.current a {background:#FFFFFF; }
.pagination{margin: 0px;color: #3399ff;width:100%;}
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }
.tbl_full_width{width:100%}
body
{
    margin: 0px;
    padding: 0px;
    background-color: #E0E0E0;
     font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
.full
{
    margin: 0 auto 0 auto;
    padding: 0px;
    background-color:#000;
    min-height: 200px;
}
.textInput {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    box-sizing: border-box;
    color: #333;
    font-size: 24px;
    line-height: 1;
    margin: 2px 6px 16px 0;
    outline: 0 none;
    padding: 3px;
    transition: border-color 0.05s ease-in-out 0s;
    width: 100%;
}
.input-text-small
{
   background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    box-sizing: border-box;
    color: #333;
    font-size: 24px;
    line-height: 1;
    margin: 2px 6px 16px 0;
    outline: 0 none;
    padding: 3px;
    transition: border-color 0.05s ease-in-out 0s;
    width: 200px; 
}
p.dashuppe-text-all{
    font-size: 16px;
    margin: 4px 0px 2px 0px;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.btn-primary {
    background-color: #bbb;
    border-color: #357ebd;
    color: #fff;
}
.btn-group {
    margin-bottom: 5px;
    margin-top: 5px;
}
#mybutton{display: none;}
#mybutton > .btn-primary {
    background-color: #eee;
    border-color: #dedede;
    color: #000;
    width: 60px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 420px;
}
.submit-button-small{
     -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 5px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px;
}
#sucessmsg
{
    color: red;  
}
#top
{
    width: auto;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    height: 50px;
    background-color: #222;
    border-bottom: 1px solid #fff;
}

hr.hr-gradient
{
    background: -webkit-linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
    background: -o-linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
    background: -moz-linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
    background:  linear-gradient(to right, #FFFFFF, #6A6868 0%, #FFFFFF);
    background-repeat: no-repeat;
    border: 0 none;
    height: 3px;
}

.product_image_div{
    width: 100px;
    height: 100px;
    border: #999999 solid 1px;
    padding: 10px;
    margin: 10px 75px 10px 10px;
    float: left;
}

#topLeft
{
    float: left;
    width: auto;
}
#topRight
{
    float: right;
    width: auto;
    height: 45px;
}
.clear
{
    clear: both;
}
.leftSide, .rightSide
{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
.leftSide
{   
    float: left;
    
}
.rightSide
{
    float: left;
    padding: 0 2% 2% 2%;
}

.logo
{
    float: left;
    padding: 4px 4px 0px 0px;
}

.leftSide ul li
{
    
    margin: 0;
    padding: 5px;
}
h3
{
    margin: 0px;
    padding: 0px;
}
.menuItems
{
    width: 100%;
    padding: 0px;

    margin: 0 0 20px 0;
    min-height:200px;

    margin: 0px;
    min-height: 540px;

    float: left;
    background-color: #000;
}
ul.menu
{
    margin: 0px;
    padding: 0px;
    background-color: #222;
    min-height: 30px;
    
}
ul li.mainMenuItem a
{
   /*padding-left: 10px;*/
    width: 190px;
    /*min-height: 30px;*/
}
/*.mainMenuItem ul li a{padding-left: -22px;}*/
ul.menu li.mainMenuItem
{
    font-size: 18px;
    font-weight: 100;
    list-style-type: none;
    border-bottom: 1px solid #444;
    font-family: calibri;
    
}
ul.menu li.mainMenuItem > ul.subMenu
{
    /*margin-top: 15px;*/
}
ul.subMenu
{
     background-color: #444;
     width: 125%;
     display:none;
     margin: 5px -5px -5px -45px;
     
}
ul.subMenu li
{
    width: 100%;
    padding-left: 35px;
}
ul.subMenu li:hover
{  
    background-color: #333;
}

ul.menu li.mainMenuItem ul.subMenu li
{
     font-size: 14px;
     list-style-type: none;
     
}
ul.menu li.mainMenuItem:hover
{
    background-color: #000;
}
.menu li a, .subMenu li a
{
    color: white;
    text-decoration: none;
    display: block;
}
#topRight p, #top a
{
    color: white;
}
#navigation
{
    margin: 5px;
    padding: 0px;
    min-height: 250px;
}


#footer
{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    padding: 0px;
}
/*for navigation item's page and category selection div'*/
.left
{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    margin-bottom: 3px;
}
#navigationLeftUp
{
    padding: 0px 0px 5px 10px;
    margin: 0px;
    max-height: 30px;
    margin-bottom: 1px;
    width: 93.5%;
    border-bottom: 1px dotted;
}
#navigationLeftMiddle
{
    padding: 0px 0px 5px 10px;
    margin: 0px;
    max-height: 163px;
    margin-bottom: 1px;
    width: 93.5%;
    overflow: auto;
    border-bottom: 1px dotted;
}

#customLinkLeftUp
{
    padding: 0px 0px 5px 5px;
    margin: 0px;
    max-height: 30px;
    margin-bottom: 1px;
    width: 96.5%;
    border-bottom: 1px dotted;
}
#customLinkLeftMiddle
{
    padding: 0px 0px 5px 10px;
    margin: 0px;
    max-height: 163px;
    margin-bottom: 1px;
    width: 93%;
}
#navigationLeftDown
{
    padding: 5px;
    margin: 0px;
    
    margin-bottom: 3px;
    width: 99%;
}

.left ul li
{
    list-style-type: none;
    text-decoration: none;
}

/*for page */
#forLeftPage
{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 450px;
}
#forRightPage
{
    //width:250px;
    float: left;
    margin-left: 45px;
    min-height: 200px;
}
.del_category{cursor: pointer;}
.del_category:hover{color:#006dcc;}
.leftSide
    {
        display: block;
        width: 15%;
        min-height: 500px;
        background-color: #000;
    }
    .rightSide
    {
        width: 85%;
        min-height: 521px;
    }
/*for media screen 1025-1500px*/
@media screen and (max-width : 1500px)
{
    .full
    {
        width: 100%;
        
    }
    #topLeft
    {
        display: none;
    }
    .rightSide
    {
        width: 84%;
        min-height: 521px;
    }
    .leftSide
    {
        display: block;
        width: 16%;
        min-height: 500px;
        background-color: #000;
    }
    
    #bnwcredit
    {
        color: #ccc;
        margin-top: 30px;
    }
    #bnwcredit p
    {
        font-size: 10px;
        text-align: center;
    }
    ul.menu, li.mainMenuItem
    {
        /*min-height: 35px;*/
    }
    
}


/*for media screen 801-1025px*/
@media screen and (max-width : 1025px)
{
    .full
    {
        width: 100%;
        height: 200px;
    }
    #topLeft
    {
        display: none;
    }
    .rightSide
    {
        width: 78.5%;
    }
    .leftSide
    {
        display: block;
        width: 21.5%;
    }
    
}

/*for media screen 640-800px*/
@media screen and (max-width : 800px)
{
    .full
    {
        width: 100%;
        min-height: 200px;
    }
    #topLeft
    {
        display: none;
    }
    .rightSide
    {
        width: 66%;
    }
    .leftSide
    {
        display: block;
        width: 34%;
    }
    
}

/*for media screen 480-640px*/
@media screen and (max-width : 640px)
{
    .full
    {
        width: 100%;
        min-height: 200px;
    }
    #topLeft
    {
        display: block;
    }
    .leftSide
    {
        position: absolute;
        left: 0;
        top: 58px;
        -webkit-top:65px;
        min-width: 150px;
        display: none;
    }
    .rightSide
    {
        width: 100%;
        
    }
    .leftSide
    {
        width: 225px;
    }
    ul.menu, li.mainMenuItem
    {
        min-height: 45px;
    }
    ul.subMenu 
    {
        width: 265px;
    }
    ul.subMenu li
    {
        width: 340px;
    }
}

/*for media screen 320-480px*/
@media screen and (max-width : 480px)
{
    .full
    {
        width: 100%;
        min-height: 200px;
    }
    #topLeft
    {
        display: block;
    }
    .rightSide
    {
        width: 98%;
    }
    .leftSide
    {
        width: 225px;
    }
    ul.menu, li.mainMenuItem
    {
        min-height: 45px;
    }
    ul.subMenu 
    {
        width: 265px;
    }
    ul.subMenu li
    {
        width: 340px;
    }
}

/*for media screen having maximum width 320px*/
@media screen and (max-width : 320px)
{
    .full
    {
        width: 100%;
        min-height: 200px;
    }
    #topLeft
    {
        display: block;
    }
    .rightSide
    {
        width: 97%;
    }
    .leftSide
    {
        width: 250px;
    }
    ul.subMenu 
    {
        width: 250px;
    }
    ul.subMenu li
    {
        width: 240px;
    }
    ul.menu, li.mainMenuItem
    {
        min-height: 45px;
    }
}

/*applicable for album*/
#photodiv
{
    float: left;
    width: 200px;
    border: #999999 solid 1px;
    margin:20px 20px 0 0;
}
th{background-color: #444;
color: #fff;}
tr:nth-child(even) {background: #fff}
tr:nth-child(odd) {background: #f7f6f6}
table,th,td
{
border:0px solid black;
border-collapse:collapse;
}

#close
{
    width: 20px;
}

#imagetitle

{
    min-width: 80px;
    margin: 5px;
}
#newAlbum
{
    float: left;
    width: 221px;
    border: #999999 dotted 1px;
    padding: 10px;
    margin: 10px;
    height: 200px;
    text-align: center;
}

/*for navigation*/


.right
{
    width: 62%;
    float: left;
    margin-left: 45px;
    min-height: 400px;
}
.forLeft
{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 33%;
}

selectMenu
{
    width: 50px;
}
.imageUpload
{
   width: 25%; float: left; 
}
.imageUploadside
{
   width: 35%; float: left; 
}


.imageContainer
{
    position: relative;
    overflow: hidden;
    height: 155px;
    background: #333;
}

#galleryimage, #pqr
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

 /* popup_box DIV-Styles*/
    #popup_box { 
        display:none; /* Hide the DIV */
        background: #000;
        width: 700px;
        height: 600px;
        position:absolute;  
        z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
        
    }
    #fadeDiv{position: absolute;background: rgba(0,0,0,0.7);z-index: 99;top: 0;left: 0;}
    #popupBoxClose{float: right;color: #fff;}
    #loading{position: absolute;top: 50%;left: 50%;display: none;}
    /* This is for the positioning of the Close Link */
   