body{margin: 0;
        padding: 0;
          background-color: #EBF3EC;
          font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.full{
    margin: 0 auto 0 auto;
    padding: 0;
    width: 70%;
   
}


.full_left{
    margin: 0 auto 0 auto;
    padding: 0;
    float: left;
    width: 30%;
    height: auto;
    background-color: #fff;
}

p{
    text-align: justify;
}

.title-name h1{
    margin: 0;
    padding: 0;
        
}
.title-name h3{
    margin: 0;
    padding: 5px;
    background-color: #000;
   
    color: #fff;
   
}
.title-name h2{    margin: 0;
    padding: 5px;
   background-color: #2c5772;
   
    color: #fff;
   
}

.title-name
{
    text-align: center;
}

.header{
    text-align: center;
    
    width: 100%;
       
}

.sub-title-name{
    font-size: 16px;   
    color: #005702;
    text-align: center;
}


.menu-item{   
    background-color: #fff;
    width: 100%;
    float:left;
}
.par-list{
    
max-height: 20px;

z-index: -5;}

.menu-item ul{
    margin: 0;
    width: 100%;
    font-size: 20px;
    
}
.menu-item ul li{
    margin: 0;
    list-style: none;
    padding: 5px;

}
.list{
margin: 0;
padding: 0;
width: 100%;
z-index:-100;
}

.menu-item li{
    border-bottom: dotted #000 1px;
}
.list a
{   
    padding-left: 30px;
  
}

.menu-item ul ul 
{
        margin: 0;
	position: relative;
	display:none;
	 	
}
.menu-item ul li{
    background-color: #f4f4f4;
}

.menu-item ul li:hover{
    background-color: #D0D0D0;
    
}
.menu-item ul li:hover ul  {
        margin: 0 auto 0 auto;
	display:block;
        position: relative;
        top :-40px;
        left:99%;
	padding:10px;
        z-index:5000;
       max-width:300%;
}
.menu-item ul li:hover ul li{
    padding:5px;
    max-width:100%;
}
.menu-item ul li:hover ul li:hover {										
		background-color: #D0D0D0;
                
}

a
{
	text-decoration:none;
	color:#000;
}
.search{
   
    
}
.news-event{
   
    background-color: #D0D0D0;
    width: 100%;
    
}


.quick-contact{
    
  
}

.event-para{
    width: 95%;
    padding-left:  15px;
}
.n-body{
    padding: 0 15px 0 15px;
}

.full-right{
    float: right;
    width:70%;
        
}
.slider{
    background-color: #fff;
    width: 100%;
    height: 400px;
    z-index: -3000;
}
.content{
   
    width: 100%;
   
    font-size: 18px;
}
.page-pragraph{
    z-index: 500;
    width: 100%;
    background-color: #EBF3EC;
    
}

.content img
{
    margin: 10px;
    float: left;
    border: solid #2c5772 3px;    
    max-height: 300px;
    max-width: 550px;
    //margin-top: -5px;
    
}
.para{
    font-size: 17px;
    padding: 5px 20px 5px 20px;
    
}



#copyright{
   
    font-size: 12px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 0 auto;
  
   
}
.credit{
    float: right;
     margin-top: -25px;
      font-size: 10px;
}

.credit img{
    margin: 0;
    padding: 0;
    height: 30px;
}
.clear{
    clear: both;
}

#footer
{
    margin-top: 10px;
    font-size: 10px;
    padding: 10px;
    background-color: #fff;
    
}