a,a:hover {text-decoration:none;}
a:hover {color: #0086b3;}
ul,ol {list-style:none;}
.nav {position:relative;display:inline-block;font-size:16px;font-weight:100; color: #fff;z-index: 11111;}
.nav-lists {text-align:left;z-index: 11111;}
.nav-item {float:left;*display:inline;zoom:1;position:relative;}
.nav-item a {display:block;padding:22px 20px 20px 20px;margin-top: 0px;}
ul.nav-lists .nav-item > a:hover {background: #003171;color:#fff;text-decoration: none;}
/*it shows first level sub menu */
.nav-item:hover > ul.nav-submenu {display:block; position: absolute;}
/* Navigation submenu */
.nav-submenu {display:none;left:0;width: 200px;z-index: 1000;background-color: #fff;}
.nav-submenu .nav-item a {display:inline-block;padding:15px;width:200px;z-index: 1000;background-color: #fff;}
ul.nav-lists li.nav-item ul.nav-submenu li.nav-item ul.nav-submenu {display:none; left: 100%; top: 0;}
//ul.nav-list li.nav-item ul.nav-submenu li.nav-item a:hover > ul.nav-submenu li.nav-item{left: 100%;}
ul.nav-lists li.nav-item ul.nav-submenu li.nav-item:hover > ul{display:block;}
//li.nav-item ul.nav-submenu li.nav-item ul.nav-submenu li.nav-item a {background-color: #ca021e;display:inline-block;padding:15px;color: #000;left: 100%;width: 150px;z-index: 10000;position: relative;left: 100%;top: -50px;}
/* Mobile navigation */
.nav-mobile {display:none;cursor:pointer;position:absolute;background:#3D3D3B url(../basicImages/nav.svg) no-repeat center center;background-size:18px;
	height:44px;width:44px;}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {position:absolute;top:0;right:0;display:none;border-left:1px solid #8B2870;height:49px;width:50px;cursor:pointer;}
.nav-click i {display:block;height:48px;width:48px;background: #3D3D3B url(../basicImages/drop.svg) no-repeat center center;background-size:20px;}
.nav-click:hover {background-color:#000;}
.nav-rotate {-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}

@media only screen and (min-width: 120px) and (max-width: 768px) {
    ul.nav-lists li.nav-item ul.nav-submenu li.nav-item ul.nav-submenu {left: 0%;}
    
    
    
    .nav-mobile {display:block;}
	.nav-lists {display:none;}
	.nav-item {width:100%;float:none;}
	.nav-item > a {padding:15px;}
	.nav-click {display:block;}
	.nav-mobile-open {border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;}
	.nav-item:hover .nav-submenu {display:none;}
	.nav-submenu {position:static;width:100%;} 
        li.nav-item ul.nav-submenu li.nav-item ul.nav-submenu li.nav-item a {background:#fff;display:inline-block;padding:15px;color: #000;width: 100%;z-index: 10000;position: relative;left: 0;top: 0;}
 li.nav-item ul.nav-submenu li.nav-item a {background:#fff;display:inline-block;padding:15px;color: #000;width: 86%;z-index: 10000;position: relative;left: 0;top: 0;}       
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
    .nav {width:100%;padding:0px;}
}
@media only screen and (min-width: 120px) and (max-width:400px) {
    .nav {width:83%;padding:0px;}
}
footer {
    background: #333333 none repeat scroll 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #ccc;
    font-size: 12px;
    padding: 15px 10px 4px;
}
.breadcrumb {
    background: #ddd none no-repeat scroll 50% 50% / cover ;
    border-radius: 0;
    display: inline-block;
    font-size: 13px;
    margin: -3px 0 0;
    padding: 0;
    position: relative;
}
.bold {
    font-weight: 600;
}
header#page-title {
    color: #2d2f3c;
}
header#page-title {
    background: #ddd none no-repeat scroll 50% 50% / cover ;
    color: #fff;
    margin-bottom: 40px;
    padding: 20px 0;
    position: relative;
}
#logo-image-header
{
    height: 40px;
}
.news-box h2 {
    margin: 30px 0;
    font-size: 30px;
    font-family: "Oswald",sans-serif;
}
.newsBox {
    margin-bottom: 12px;
}
.thumbnail time {
    background: #a0a0a0 none repeat scroll 0 0;
    color: #fff;
    display: block;
    padding: 5px 0;
    text-indent: 12px;
}
.newsBox img {
    width: 100% !important;
}
img {
    max-width: 100%;
}
.news-event-page-image{width: 400px; height: 400px;float: left; margin: 0% 2% 1% 0%;}
#pattern-3{min-height: 450px;}
.error{color:red;}
 @media screen and (max-width : 1200px) {  
     #head-title-all{font-size: 17px;}
     .nav{font-size: 16px;}
  }
@media screen and (max-width : 992px) {  
.news-event-page-image{width: 400px; height: 400px;}

}
@media screen and (max-width : 768px) { 
.news-event-page-image{width: 90%; height: 90%;}
}
@media screen and (max-width : 400px) {  

.news-event-page-image{width: 90%; height: 90%;padding: 0% 2% 1% 6%;}

}

