html, body{
    font-family: calibri;
   margin: 0%;
   padding: 0%;
   //background: #fff;
   overflow-x: hidden;
}
#full
{
     margin: 0 auto 0 auto;
     padding: 0%;
}
.header
{
    width: 100%;
    text-align: center;
    margin: 0px;
}

#pagetop{
    top: 0px; 
    width:100%; 
    height: 100px; 
    //background: #000;
    color: #FFF; 
    font-size: 23px; 
    transition: height 0.3s linear 0s, padding 0.3s linear 0s; 

}
.subscribe
{
    width: 100%; height: 50px; background-color: green; font-size: 24px; color: #fff;border-color: green;
}
.subscribe:hover
{
    background-color: #a80017;
}
.subscriptionhead
{
    color: #fff;font-weight: 300;font-size: 50px;text-transform: uppercase;padding: 0%;text-align: center;font-family: 'Lato',Calibri,Arial,sans-serif;letter-spacing: normal;
}
.subscription-two-sub-divs
{
    padding: 0% 2.5% 2% 2.5%;margin: 0% 2.5% 0% 2.5%;width:45%; float: left;box-shadow: 0 0 15px #000;
}
#sub-full-subscription
{
    background-color: #9f57d1; color: #fff; display: inline-block; width: 100%; padding: 2% 5% 2% 5%;
}
.containe{
// margin-top: -67px;
   // border: none;
   // margin-left: -8px;
    padding: 0% 0%;
    width: 100%;
    margin: 0%;
}

.main
{
 
    max-width:100%;
  overflow-x: no-content;
    background-color: #ddd;
//    height: 621px;
}

.heading
{
    background: #99B000; 
    padding: 1%;
}

.content{
   background: #1c75bc;
    //height:400px;
    padding: 0%;
    margin: 0 auto 0 auto;
    width: 101%;
     overflow-x: no-content;
}


.footer
{
   // margin-top: 20px;
    background: #455e74;
   padding: 0% 5% 2% 5%;
   color: #ffffff;
 //  width: 100%;
}
.box
{
    width: 25%;
    padding: 3%;
}

.footer_box
{
    float: left;
    margin: 1%;
}

.footer_heading
{
  font-size: 18px;
  font-weight: bold;
}

.footer_content
{
    font-size: 16px;
}

.clear
{
    clear: both;
}

.copyright
{
    text-align: center;
    padding: 3% 3% 0% 3%;
}

.part{float: left; width: 28%; height: 300px; margin: 0 auto 0 auto;padding: 8% 2.5% 2.5% 2.5%; background: #1c75bc;}
.circle
{
    width: 150px;
    height: 150px;
   // border-radius: 75px;
    //background:#D0D0D0;
     margin: 0 auto 0 auto;
}

.summary{
    text-align: center;
    padding: 5% 1% 5% 1%;
     background: #1c75bc;
     color: #ffffff;
}

.details{
    text-align: center;
     background: #1c75bc;
  
   
    /*display: inline-block;*/
     margin: 0 auto 0 auto;
}

.details span{font-size: 12px; border: 1px solid #D0D0D0;  padding: 1%;border-radius: 5px;cursor: pointer;}

.titlebar
{
    margin: 0 auto 0 auto; width: 100%; text-align: center;padding: 15px 0px 0px 0px; height: 120px; background-color: #000; color: #fff;
}
.titlebarHeading
{
    margin: 0 auto 0 auto; color: #fff; width: 27%; font-weight: 800; padding: 0% 2% 3% 2%; font-size: 40px; font-family: calibri;
}

  
/*for menu*/


#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}
#cssmenu {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
#cssmenu:after,
#cssmenu ul:after {
    content: '';
    display: block;
    clear: both;
}
#cssmenu a {
    background: #fff;
    color: #000;
    display: inline-block;
    font-size: 16px;
    line-height: 61px;
    padding: 0 15px 0px 15px;
    text-decoration: none;
}
#cssmenu ul {
    list-style: none;
}
#cssmenu > ul {
    float: left;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin-left: -10px;
}

#cssmenu > ul > li.active > a {
    box-shadow: inset 0 0 3px #000000;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    background: #070707;

}
#cssmenu > ul > li:hover > a {
    background: #000;
    color: #fff;
}
#cssmenu .has-sub {
    z-index: 1;
}
#cssmenu .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub ul {
    display: none;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
}
#cssmenu .has-sub ul li {
    *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
    background: #fff;
    border-bottom: 1px dotted #ec6f73;
    filter: none;
    font-size: 14px;
    display: block;
    line-height: 100%;
    padding: 10px;
    margin: -1px;
}
#cssmenu .has-sub ul li:hover a {
    background-color: #a80017;
}
#cssmenu .has-sub .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub .has-sub ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
    background-color: #e00f16;
    border-bottom: 1px dotted #d06d70;
}
#cssmenu .has-sub .has-sub ul li a:hover {
    background: #a80017;
}

.imageContainer {
    border: 1px solid #444;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 15px;
    text-align: center;
}
.imageContainer > span {
    display: block;
    width: 1000px;
    margin-left: -450px; /* -(width-container width)/2 */
}
.imageContainer > span > img {
    display: inline-block;
}