
#main
{
    margin-left: 75px;
    float: left;
    width: 78%;
    height: auto;
    overflow:hidden;
}

#add_gadget{
    margin: 20px;
    width:300px;
    height:auto;
}

#gadget_collection
{
    margin-left: 100px;
    margin-top: 40px;
    width: 50%;
    height:auto;
    float: left; 
}

#description, #title
{
    border: thin solid #cccccc;
    width:290px;
    height:auto;
    padding: 5px;
    background: #cccccc;
    text-align:center;
    font-size: 20px;
}

#main #inputtype
{
    width:285px;
    height: 30px;
}

#main #txtarea
{
    width:285px;
    height:150px;
  
}

#description
{
    display: none;
}


#sub_gadget
{
    height:auto;
    margin: 20px;
    width: 300px;
    border: thin solid #cccccc;
}

#description_in_collection
{
 height:auto;
 border: thin solid #cccccc;
 margin-top: 5px;
}
#title_in_collection
{
 font-weight: bold;
 text-align:center;
 height:30px;
 border: thin solid #cccccc;    
}

#nav_location
{
    
    float: left;
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin: 10px 0px;
}

iframe{
    height: 300px;
}

.list-item
{
    font-weight: bold;
    margin-top: 20px;
}

