
#main
{
    
    float: left;
    width: 100%;
    height: auto;
    overflow:hidden;
}


#gadget_collection
{
    
    width: 68%;
    height:auto;
    float: left; 
}

#description, #title
{
    border: thin solid #cccccc;
    width:290px;
    height:auto;
    padding: 5px;
    text-align:center;
    font-size: 20px;
}

#main #inputtype
{
    width:285px;
    height: 30px;
}

#main #txtarea
{
    width:285px;
    height:150px;
  
}

#description
{
    display: none;
}


#sub_gadget
{
    margin: 20px;
    float: left;
    height:auto;
    width: 300px;
    border: thin solid #cccccc;
}

#description_for_gadget
{
    height:auto;
    width: 300px;
    border: thin solid #cccccc;
   
}


#nav_location
{
    float: left;
    width: 300px;
    height: auto;
}

iframe{
    height: 300px;
}

.list-item
{
   
    list-style: none;
    background: #cccccc;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top:5px;
    padding: 5px;
}


#option_gadget
{
    list-style: none;
    background:#f0f0f0;
    display: none;
}



#nav_location ul
{
    margin-left:-40px;
}

#delete
{
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-size: 100%;
    background-image:  url(../images/delete.png);
    height: 20px;
}

#edit
{
    color: #666666;
    padding-right:10px;
    border-right: thin solid;
    float: left;
    width: auto;
    
}

.whole
{
    width: 100%;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 30px;
    border-bottom: thin solid cadetblue;
}

.name
{
    width: 75%;
    float: left;
}

#option
{
    width: 25%;
    float: left;
}

